.appHeader{
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: env(safe-area-inset-top);
    left: 0;
    right: 0;
    z-index: 999;
    background: #fff;
    color: #27173E;
    border-bottom: 1px solid #DCDCE9;
}
.appHeader:before {
    content: '';
    height: env(safe-area-inset-top);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 99999;
    background: #FFF;
}
.appHeader.bg-primary:before {
    background: #6236FF !important;
}
.appHeader.bg-primary,
.appHeader.bg-secondary,
.appHeader.bg-success,
.appHeader.bg-warning,
.appHeader.bg-danger,
.appHeader.bg-info,
.appHeader.bg-light,
.appHeader.bg-dark {
    border: 0;
}
.bg-primary{
    background: #6236FF;
}
.text-light{
    color: #FFF;
}

.appHeader .left{
    left: 10px;
    top: 0;
}
.appHeader .right{
    right: 10px;
    top: 0;
}

.appHeader .left, .appHeader .right{
    height: 56px;
    display: flex;
    align-items: center;
    position: absolute;
}
.appHeader .left .headerButton, .appHeader .right .headerButton{
    min-width: 36px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:10px;
    position: relative;
}
 .appHeader .text-light .headerButton{
    color: #FFF;
}

.appHeader .pageTitle{
    font-size: 17px;
    font-weight: 500;
    padding:0 10px;
}
.appHeader .pageTitle .logo{
    max-height: 24px;
}
.appHeader .badge{
    min-width: 16px;
    height: 16px;
    line-height: 9px !important;
    font-size: 10px;
    padding: 0 4px !important;
    position: absolute;
    right: 2px;
    top: 10px;
}
.badge {
    font-size: 12px;
    line-height: 1em;
    border-radius: 100px;
    letter-spacing: 0;
    height: 22px;
    min-width: 22px;
    width: auto;
    padding: 0 6px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}
.badge{
    background: #FF396F;
}
.imaged.w32 {
    width: 32px !important;
}
.imaged {
    height: auto;
    border-radius: 10px;
}
